@media (min-width: 576px) {
	.section-padding {
		padding: 6em 2.5em;
	}

	// HEADER
	.header {
		&__text {
			max-width: 400px;
			&-item {
				font-size: 5rem;
			}
		}
	}

	.about {
		padding-bottom: 0;
		&__heading {
			font-size: 3.2rem;
		}

		&__text {
			font-size: 1.8rem;
		}
	}

	.creations {
		&__card {
			height: 170px;
		}

		&__heading {
			font-size: 3.2rem;
		}
	}
}
