@media (min-width: 1200px) {
	// NAV
	.nav {
		&__bar {
			margin: 0 8em;
		}
	}

	// HEADER
	.header {
		&__img {
			padding-bottom: 9em;
		}

		&__text {
			margin: 0 9em;
		}
	}

	// ABOUT
	.about {
		&__heading {
			font-size: 3.8rem;
		}

		&__text {
			font-size: 2.2rem;
		}
	}

	// CREATIONS
	.creations {
		&__card {
			height: 500px;
		}

		&__heading {
			font-size: 3.8rem;
		}
	}
}
